node_modules
**/.next/**
**/_next/**
**/build/**
**/out/**
**/*.md
**/*.mdx
*.ico
*.md
*.mdx
*.svg
*.jpg
*.png
*.pdf
k8s/
public/site.webmanifest
.eslintignore
.gitignore
.prettierignore
.prettierrc.json
prettier.config.js
.husky/
package*.json
public/fonts/*
.env.template
.github
.nvmrc
.npmrc
.eslintrc.json
.gitconfig
next.config.ts
eslint.config.mjs
commitlint.config.cjs