.header {
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
}
.contain {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xl) var(--spacing-md);
  flex-wrap: wrap;
  gap: var(--spacing-md);
}
.logo {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.heroNav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    transition: color var(--animation-setting);
    &:hover {
      color: var(--color-link-hover);
    }
  }
}