.listContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-xl);
}
.listWrapper {
  width: 100%;
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: 1fr;
  max-width: var(--max-width);
  padding: 0 var(--spacing-md);
  box-sizing: border-box;
}
.listItems {
  width: 100%;
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: minmax(0, 1fr);

  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: minmax(0, 1fr);
  }
}
.listTitle {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
  line-height: 42px;
}