.listItems {
  width: 100%;
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: minmax(0, 1fr);

  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: minmax(0, 1fr);
  }
}
.listHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--spacing-md);

  @media screen and (min-width: 640px) {
    flex-direction: row;
    justify-content: space-between;
  } 
}