.cardFlag {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius);
  justify-content: space-between;
  gap: var(--spacing-md);
  box-shadow: var(--box-shadow);
  transition: box-shadow var(--animation-setting);

  @media (prefers-reduced-motion: no-preference) {
    &:hover {
      box-shadow: var(--box-shadow-hover);
    }
  } 
}
.flagButton {
  cursor: pointer;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--color-bg-enable);
  color: var(--color-text-enable);
  border-radius: var(--border-radius);

  &.disable {
    background-color: var(--color-bg-disable);
    color: var(--color-text-disable);
  }
}